.login {
  display: block;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

form {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

h2 {
  margin: 0;
}

#after-login {
  display: none;
}

#before-verify,
#after-verify {
  display: none;
}
